[global]
index = {{nexus_proxy_proto}}://{{nexus_proxy}}:{{nexus_proxy_port}}/repository/pypi/pypi
index-url = {{nexus_proxy_proto}}://{{nexus_proxy}}:{{nexus_proxy_port}}/repository/pypi/simple
trusted-host = {{nexus_proxy}}